@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Ingresa  a tu mascota</h1>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <article>
                    <div class="card"style="width: 18rem;">
                        <img class="card-img-top" src="~/img/luhana.jpg" />
                        <div class="card-body">
                        <h5 class="card-title">Luhana</h5>
                        <p class="card-text">Raza Shznauser, tiene 6 años</p>
                        <button class="btn btn-primary">Ver más</button>
                        </div>
                    </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</div>
